<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ferf</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
   
    

</head>
<body>


    



    <h2>ola galera</h2>
   <p>{{n}}</p>
   
  
<img src="{{ url_for('static', filename='img.png') }}">

 <h1>File Upload</h1>
<form method="POST" action="" enctype="multipart/form-data">
<p><input type="file" name="file"></p>
<p><input type="submit" value="Submit"></p>

 


   
</body>
</html>