<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ferf</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
   
    

</head>
<body>


    



    <h2>ola galeraTETE DEPOEUS DE SOCKET</h2>
   <p>{{n}}</p>
   
   
  
<img src="{{ url_for('static', filename='img.png') }}">


<h1>File Upload</h1>
     
   <!-- O tipo de encoding de dados, enctype, DEVE ser especificado abaixo -->
<form enctype="multipart/form-data" action="__URL__" method="POST">
    <!-- MAX_FILE_SIZE deve preceder o campo input -->
    <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
    <!-- O Nome do elemento input determina o nome da array $_FILES -->
    Enviar esse arquivo: <input name="userfile" type="file" />
    <input type="submit" value="Enviar arquivo" />
</form>

   
</body>
</html>